<!-- views/event_planning.ejs -->

<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <script type="text/javascript" src="http://www.google.com/jsapi"></script>
    <script type="text/javascript" src="timeline/timeline.js"></script>
    <link rel="stylesheet" type="text/css" href="timeline/timeline.css">
    <link rel="stylesheet" href="/stylesheets/draganddrop.css">
    
<!--     <script src="//code.jquery.com/jquery-1.9.1.js"></script>
    <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    <link rel="stylesheet" href="http://jqueryui.com/resources/demos/style.css"> -->
</head>
<body>
<div id="columns">
  <div class="column" draggable="true" ><header>C1</header></div>
  <div class="column" draggable="true" ><header>C2</header></div>
  <div class="column" draggable="true" ><header>C3</header></div>
</div> 

<div id="dropzone">
  <div class="dropzone" draggable="true"><header>Drop</header></div>
</div> 


<div class="container">
    <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span>EventPlanning(Time Line)</h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>
    <a href="/profile" class="btn btn-default"><span class="fa fa-user"></span>Profile</a>
</div>

<div id="mytimeline"></div>
<div id="mytimeline2"></div>

<div id="info"></div>

<div id="dialog-form" title="Task">
  <form>
  <fieldset>
    <input type="text" name="title" id="title" class="text ui-widget-content ui-corner-all">
    <label>Assign to</label>
    <input type="text" name="asignee" id="asignee" value="" class="text ui-widget-content ui-corner-all">
  </fieldset>
  </form>
</div>

<script src="/javascripts/draganddrop.js"></script>
</body>
</html>
