<!-- views/event_planning.ejs -->
<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <script type="text/javascript" src="http://www.google.com/jsapi"></script>
    <script type="text/javascript" src="timeline/timeline.js"></script>
    <link rel="stylesheet" type="text/css" href="timeline/timeline.css">
    <link rel="stylesheet" href="/stylesheets/draganddrop.css">
    //styles
    <link rel="stylesheet" href="/stylesheets/styles.css">
</head>
<body>
<div id="columns">
  <div class="column" draggable="true" ><header>C1</header></div>
  <div class="column" draggable="true" ><header>C2</header></div>
  <div class="column" draggable="true" ><header>C3</header></div>
</div> 
<!-- new box  -->
<div id="wrapper">

<div id="dropzone">
<div class="container">
    <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span>Event Planning(Time Line)</h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>
    <a href="/profile" class="btn btn-default"><span class="fa fa-user"></span>Profile</a>
</div>

<div class="dropzone" draggable="true"><header>Drop</header></div>
</div> 
<div id="mytimeline" ></div>
</div>


<div id="mytimeline2"></div>

<div id="info"></div>
<script src="/javascripts/draganddrop.js"></script>
</body>
</html>
