<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <img class = "displayed" src="/images/Groop_Logo.jpg" alt="Groop Logo">
</head>
<body>
    <!-- 2 tabs. 1 for login 1 for singn up -->
    <ul class="tab">
      <li><a href="#" class="tablinks active" onclick="Login_or_Signup(event, 'Login')">Log In</a></li>
      <li><a href="#" class="tablinks" onclick="Login_or_Signup(event, 'Signup')">Sign Up</a></li>
    </ul>

    <!-- content for tab login -->
    <div id="Login" class="tabcontent"  style = "display : block;">
        <!-- LOGIN FORM -->
        <form action="/login" method="post">
            <div class="form-group">
                <label>Email</label>
                <input type="text" class="form-control" name="email">
            </div>
            <div class="form-group">
                <label>Password</label>
                <input type="password" class="form-control" name="password">
            </div>

            <button type="submit" class="groopbutton">Login</button>
        </form>
    </div>
    <!-- content for tab sign up -->
    <div id="Signup" class="tabcontent">
        <!-- SIGNUP FORM -->
        <form action="/signup" method="post">
            <div class="form-group">
                <label>Email</label>
                <input type="text" class="form-control" name="email">
            </div>
            <div class="form-group">
                <label>Password</label>
                <input type="password" class="form-control" name="password">
            </div>
            <div class="form-group">
                <label>Re-enter Password</label>
                <input type="password" class="form-control" name="re_password">
            </div>
            <button type="submit" class="groopbutton">Confirm</button>
        </form>
        <!-- <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Local Signup</a> -->
    </div>
    <script src="/javascripts/navigation_tabs.js"></script>
</body>
</html>