<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body        { padding-top:80px; word-wrap:break-word; }
    </style>


<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">  
<title>Frontier JQuery Calendar</title>  
  
<link rel="stylesheet" type="text/css" href="jquery-frontier-calendar/css/frontierCalendar/jquery-frontier-cal-1.3.2.css" />  
<!-- Include CSS for color picker plugin (Not required for calendar plugin. Used for example.) -->  
<link rel="stylesheet" type="text/css" href="jquery-frontier-calendar/css/colorpicker/colorpicker.css" />  
<link rel="stylesheet" type="text/css" href="jquery-frontier-calendar/css/jquery-ui/smoothness/jquery-ui-1.8.1.custom.css" />  
<script type="text/javascript" src="jquery-frontier-calendar/js/jquery-core/jquery-1.4.2-ie-fix.min.js"></script>  
<script type="text/javascript" src="jquery-frontier-calendar/js/jquery-ui/smoothness/jquery-ui-1.8.1.custom.min.js"></script>  
<!-- Include color picker plugin (Not required for calendar plugin. Used for example.) -->  
<script type="text/javascript" src="jquery-frontier-calendar/js/colorpicker/colorpicker.js"></script>  
<!-- Include jquery tooltip plugin (Not required for calendar plugin. Used for example.) -->  
<script type="text/javascript" src="jquery-frontier-calendar/js/jquery-qtip-1.0.0-rc3140944/jquery.qtip-1.0.js"></script>  
<!-- 
    ** jshashtable-2.1.js MUST BE INCLUDED BEFORE THE FRONTIER CALENDAR PLUGIN. ** 
-->  
<script type="text/javascript" src="jquery-frontier-calendar/js/lib/jshashtable-2.1.js"></script>  
<script type="text/javascript" src="jquery-frontier-calendar/js/frontierCalendar/jquery-frontier-cal-1.3.2.min.js"></script>  

</head>
<body>


<div class="container">

    <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span> Profile Page</h1>-->
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>
        <div class="jumbotron text-center">
        <a href="/team_managment" class="btn btn-default"><span class="fa fa-user"></span>Team Managment</a>
        <a href="/home" class="btn btn-default"><span class="fa fa-user"></span> Home</a>
    </div>

    <div class="row">

        <!-- LOCAL INFORMATION -->
        <div class="col-sm-6">
            <div class="well">
                <!--<h3><span class="fa fa-user"></span> Local</h3>-->

                    <p>
                        <strong>id</strong>: <%= user.id %><br>

                        <strong>email</strong>: <%= user.email %><br>
                        <strong>password</strong>: <%= user.password %>
                    </p>

            </div>
        </div>

    </div>


</div>

    <div >  

        <br>
        
        <div class="shadow" style="border: 1px solid #aaaaaa; padding: 3px;">
            <b>
            Click the calendar to add some agenda items.
            <br><br>
            Please note that Chrome prevents AJAX calls from reading local files on disk so the iCal example will not work. Try in Firefox, Safari, Opera, or IE.
            For Chrome it should work when the iCal file is hosted online from your domain.
            </b>
        </div>
        
        <br><br>

        <div id="toolbar" class="ui-widget-header ui-corner-all" style="padding:3px; vertical-align: middle; white-space:nowrap; overflow: hidden;">
            <button id="BtnPreviousMonth">Previous Month</button>
            <button id="BtnNextMonth">Next Month</button>
            &nbsp;&nbsp;&nbsp;
            Date: <input type="text" id="dateSelect" size="20"/>
            &nbsp;&nbsp;&nbsp;
            <button id="BtnDeleteAll">Delete All</button>
        </div>

        <br>

        <!--
        You can use pixel widths or percentages. Calendar will auto resize all sub elements.
        Height will be calculated by aspect ratio. Basically all day cells will be as tall
        as they are wide.
        -->
        <div id="mycal"></div>

        </div>

        <!-- debugging-->
        <div id="calDebug"></div>

        <style type="text/css">
            //label, input.text, select { display:block; }
            fieldset { padding:0; border:0; margin-top:25px; }
            .ui-dialog .ui-state-error { padding: .3em; }
            .validateTips { border: 1px solid transparent; padding: 0.3em; }
        </style>

        <!-- Add event modal form -->
        <div id="add-event-form" title="Add New Event">
            <p class="validateTips">All form fields are required.</p>
            <form>
            <fieldset>
                <label for="name">What?</label>
                <input type="text" name="what" id="what" class="text ui-widget-content ui-corner-all" style="margin-bottom:12px; width:95%; padding: .4em;"/>
                <table style="width:100%; padding:5px;">
                    <tr>
                        <td>
                            <label>Start Date</label>
                            <input type="text" name="startDate" id="startDate" value="" class="text ui-widget-content ui-corner-all" style="margin-bottom:12px; width:95%; padding: .4em;"/>                
                        </td>
                        <td>&nbsp;</td>
                        <td>
                            <label>Start Hour</label>
                            <select id="startHour" class="text ui-widget-content ui-corner-all" style="margin-bottom:12px; width:95%; padding: .4em;">
                                <option value="12" SELECTED>12</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                            </select>               
                        <td>
                        <td>
                            <label>Start Minute</label>
                            <select id="startMin" class="text ui-widget-content ui-corner-all" style="margin-bottom:12px; width:95%; padding: .4em;">
                                <option value="00" SELECTED>00</option>
                                <option value="10">10</option>
                                <option value="20">20</option>
                                <option value="30">30</option>
                                <option value="40">40</option>
                                <option value="50">50</option>
                            </select>               
                        <td>
                        <td>
                            <label>Start AM/PM</label>
                            <select id="startMeridiem" class="text ui-widget-content ui-corner-all" style="margin-bottom:12px; width:95%; padding: .4em;">
                                <option value="AM" SELECTED>AM</option>
                                <option value="PM">PM</option>
                            </select>               
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>End Date</label>
                            <input type="text" name="endDate" id="endDate" value="" class="text ui-widget-content ui-corner-all" style="margin-bottom:12px; width:95%; padding: .4em;"/>                
                        </td>
                        <td>&nbsp;</td>
                        <td>
                            <label>End Hour</label>
                            <select id="endHour" class="text ui-widget-content ui-corner-all" style="margin-bottom:12px; width:95%; padding: .4em;">
                                <option value="12" SELECTED>12</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                            </select>               
                        <td>
                        <td>
                            <label>End Minute</label>
                            <select id="endMin" class="text ui-widget-content ui-corner-all" style="margin-bottom:12px; width:95%; padding: .4em;">
                                <option value="00" SELECTED>00</option>
                                <option value="10">10</option>
                                <option value="20">20</option>
                                <option value="30">30</option>
                                <option value="40">40</option>
                                <option value="50">50</option>
                            </select>               
                        <td>
                        <td>
                            <label>End AM/PM</label>
                            <select id="endMeridiem" class="text ui-widget-content ui-corner-all" style="margin-bottom:12px; width:95%; padding: .4em;">
                                <option value="AM" SELECTED>AM</option>
                                <option value="PM">PM</option>
                            </select>               
                        </td>               
                    </tr>           
                </table>
                <table>
                    <tr>
                        <td>
                            <label>Background Color</label>
                        </td>
                        <td>
                            <div id="colorSelectorBackground"><div style="background-color: #333333; width:30px; height:30px; border: 2px solid #000000;"></div></div>
                            <input type="hidden" id="colorBackground" value="#333333">
                        </td>
                        <td>&nbsp;&nbsp;&nbsp;</td>
                        <td>
                            <label>Text Color</label>
                        </td>
                        <td>
                            <div id="colorSelectorForeground"><div style="background-color: #ffffff; width:30px; height:30px; border: 2px solid #000000;"></div></div>
                            <input type="hidden" id="colorForeground" value="#ffffff">
                        </td>                       
                    </tr>               
                </table>
            </fieldset>
            </form>
        </div>
        
        <div id="display-event-form" title="View Agenda Item">
            
        </div>      

        <p>&nbsp;</p>

    </div> 
<script type="text/javascript" src="/javascripts/calendar.js"></script>  
</body>
</html>
