<!-- views/signup.ejs -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <style>
        body        { padding-top:80px; }
    </style>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" type="text/css" href="page2_3/css/default.css"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<!--<script src="http://www.codefans.net/ajaxjs/jquery-1.6.2.min.js"></script>-->
    <script src="http://code.jquery.com/jquery-1.6.2.min.js"></script>
</head>
<body>
	<form action="" class="register">
            <h2>Create New Club</h2>
            <fieldset class="row1">
                <legend>Club Details
                </legend>
                <p>
                    <label>Name *
                    </label>
                    <input type="text" class="long"/>
                </p>
                <p>
                    <label>Street Number *
                    </label>
                    <input type="text" class="long"/>
                </p>
                <p>
                    <label>Street Name *
                    </label>
                    <input type="text" class="long"/>
                </p>
                <p>
                    <label>City *
                    </label>
                    <input type="text" class="long"/>
                </p>
                <p>
                    <label>Country *
                    </label>
                    <select>
                        <option>
                        </option>
                        <option value="1">Canada
                        <option value="2">China
                        </option>
                    </select>
                </p>
                <label class="obinfo">* obligatory fields
                </label>
            </fieldset>
            <fieldset class="row2">
                <legend>Further Information
                </legend>
                 <p>
                    <label class="optional">Website
                    </label>
                    <input class="long" type="text" value="http://"/>

                </p>
                 <p>
                    <label>Phone *
                    </label>
                    <input type="text" maxlength="10"/>
                </p>
                 <p>
                    <label>Email *
                    </label>
                    <input type="text" maxlength="10"/>
                </p>
                 <p>
                    <label class="optional">President
                    </label>
                    <input type="text" class="long"/>
                </p>
            </fieldset>
            <fieldset class="row2"> 
                <h2>Club logo</h2>
            	<p>JPG or GIF only</p>
				<form name="form0" id="form0" >
                <img src="" id="img0", height="170", width="170" ><br>
                <input type="file" name="file0" id="file0" multiple="multiple" />
				
				
				</form>
            </fieldset>
            <div>
            	<a href="/profile" class="btn btn-default"><span class="fa fa-user"></span>Save Club</a>
            	<a href="/signup" class="btn btn-default"><span class="fa fa-user"></span>Cancel</a>
            </div>
            <script type="text/javascript" src="page2_3/uploadphoto.js"></script>  
</body>
</html>
