<!-- views/signup.ejs -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>   
    <script src="http://code.jquery.com/jquery-1.6.2.min.js"></script>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <div id="header">
        <h1>Create New Club</h1>
    </div>
    <div id="headericon">  
        <img src="/images/Groop_icon.png" height="100px", width="100px">
    </div>
</head>
<body style="margin-left: 50px">
<script type="text/javascript">

    function validateForm() {
      var tn = document.forms["club_form"]["Club_Name"].value;
      if (tn == null || tn == "") {
          alert("All fields must be filled out");
          return false;
      }
      if (!/^[a-zA-Z]*$/g.test(tn)) {
          alert("Invalid characters");
          document.club_form.Club_Name.focus();
          return false;
      }
      var dd = document.forms["club_form"]["School"].value;
      if (dd == null || dd == "") {
          alert("All fields must be filled out");
          return false;
      }
    }

</script>

<div id = "profilecontent">
    <div class="profilebox1_club article" >
        <fieldset>
            <% if (message.length > 0) { %>
                <div class="alert alert-danger"><%= message %></div>
            <% } %>
	       <form style="border: 1px solid black;" action="/signup_create_club" name = "club_form" method="post" onsubmit="return validateForm()">
            <p style="text-align: center"><u>Please input your basic information</u></p>
            <div class="form-group">

                <label>Club Name :
                </label>
                <input type="text" class="long" name = "Club_Name">
            </div>

            <div class="form-group">
                <label>Abbreviation :
                </label>
                <input type="text" class="long" name = "Abbreviation">
            </div>
            <div class="form-group">
                <label>School :
                </label>
                <input type="text" class="long" name = "School">
            </div>
            <div class="form-group">
                <label>Description :</label>
                <textarea id = "clubdescription" name = "Description"></textarea>
            </div>
            <div class="form-group">
                <label class="optional">Website :
                </label>
                <input class="long" type="text" value="http://" name = "Website">
            </div>
            <div class="form-group">
                <label>Phone :
                </label>
                <input type="text" maxlength="10" name = "Phone">
            </div>
            <div class="form-group">
                <label>Email :
                </label>
                <input type="text" maxlength="10" name = "Email">
            </div>
            <div class="form-group">
                <label class="optional">President :
                </label>
                <input type="text" class="long" name = "President">
            </div>

            <div class="profilebox2" style="float:left;">

            <button type="submit" class="groopbutton">Confirm</button></div>
            <div class="profilebox2" style="float:left;">
            <a href="/signup_profile"><input type="button" class="groopbutton" value="Cancel" /></a>
                <!-- <input type='button' href="/signup_profile" class="groopbutton">Cancel</input> -->
            </div>
            </form>
        </fieldset>
        
        
    </div> 

    <div id="Profile_picture" class="profilebox2 article">
        <fieldset>
			<form name="form0" id="form0" >
            <img src="/images/Text logo.png" id="img0", height="230", width="400" ><br>
            <input type="file" name="file0" id="file0" multiple="multiple" />
			</form>

        </fieldset>
    </div>
    <ul class="tab" style="border: none;background: none; padding-top: 270px; width: 100%">
        
    </ul>
</div>
<script type="text/javascript" src="page2_3/uploadphoto.js"></script>  
</body>
</html>
