.ui-button {
  text-align: center;
  background-color: #33B2A6;
  color : white;
  border-radius: 25px;
  width : 30%;
  height : 50px;
  display: inline-block;
  margin-left: 10%;
  margin-right: 10%;
}

.ui-dialog {
  overflow: hidden;
  position: absolute;
  width: 200px;
  height: 500px;
  top: 0;
  left: 0;
  padding: .2em;
  outline: 0;
  border: 2px solid #33B2A6; 
  background: #FFFFFF;
}



.ui-dialog .ui-dialog-titlebar-close {
  display: none;
}
.ui-dialog .ui-dialog-buttonpane {
  text-align: center;
  border-width: 1px 0 0 0;
  background-image: none;
  margin-top: .5em;
  padding: .3em 1em .5em .4em;
}

.ui-dialog .ui-dialog-content {
  border:none;
}

.payclass{
  border: 2px solid #33B2A6;
  border-radius: 50%;
  background-image: url("/images/coin.jpg");
  background-size: 500px 470px;
  background-repeat: no-repeat;
}

.MyClass .ui-button{
  /*text-align: center;*/
  background-color: #33B2A6;
  color : white;
  width : 30%;
  height : 50px;
  margin:0px;
  margin-bottom: 15%;
  margin-right: 5%;
  margin-left: 5%;
}
.MyClass .ui-dialog-titlebar-close {
  display: none;
}

/* Prevent the text contents of draggable elements from being selectable. */
[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element;
}
.dropzone{
  height: 200px;
  -moz-box-sizing: border-box;
  width: 100%;
  float: left;
  /*border: 2px solid #666666; */
  /*background-color: #ccc; */
  margin-right: 5px;
  -webkit-border-radius: 10px;
  -ms-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  text-align: center;
  cursor: move;
  /*overlapped layer*/
  z-index: 10;
  /*position:absolute;*/
}

.noborder-top{
  height: 200px;
  -moz-box-sizing: border-box;
  width: 100%;
  float: left;
  border: 2px solid #666666; 
  /*background-color: #ccc; */
  margin-right: 5px;
  -webkit-border-radius: 10px;
  -ms-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 0px;
  text-align: center;
  cursor: move;
  /*overlapped layer*/
  z-index: 100;
  border-left: none;
  border-top: none;
  border-right:none;
  /*position:absolute;*/
}
.column {
  float:left;
  margin-top: 40px;
  margin-right: 20px;
}

.columnpay {
  float:left;
  margin-top: 40px;
  margin-right: 20px;
}
