body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


#wrapper{
	margin:0 auto;p
	position:relative;
	
	height:500px;
}


.mytimeline{position:absolute; width:141px; height:186px; left:31px; top:30px} 